@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,600,700&display=swap');


/* Header */ 
.header {
  padding: 0px;
  margin: 0px;
  text-align: center;
  background: #2699FB; /* Blauw */
  color: 444444;
  font-size: 20px;
  padding: 0.5em 0em 0em 0em;
  font-family: 'Raleway',Arial, Berlin Sans FB, sans-serif;
}

/* Body */
body {
	width: 1000px;
	margin: auto;
}

/* Achtergrond */
section {
	background: white;
	padding: 0 em;
	margin: 2%;
}

/* Video */
#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

/* Nav */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #707070;
  position: sticky;
  top: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #2699FB;
}

/* H1 */
H1 {
	font-family: 'Raleway',Arial, sans-serif;
}

/* H2 */

/* H3 */

/* Button Bushido */
#button {
	background-color: #2699FB;
	color: #000000;
	padding: 15px 25px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	border-radius: 0.5em;
}

/* Aside */
aside {
	float: right;
	
}

/* Cookiestatement */
#cookie {
    position: fixed;
    bottom: 0em;
    right: 0em;
    z-index: 1;
    background-color: #F5F5F5F5;
    color: #444444;
    font-size:.7em;
    padding: 0em 1.5em;
	margin:5px;
    border: solid 0.1em #444444;
	border-radius: 1em;
}

/* Afbeeldingen */
.image {
	width: 200px;
	float: right;
	clear: both;
	padding: 10px;
}

.imageMain {
	height: 200px;
	float: right;
	padding: 10px;
}

/* Opsommingen */
.opsomming {
	list-style-type: none;
	margin: 0;
	padding: 0;
} 

/* Tabel */
table {
  border-collapse: collapse;
  width: 70%;
}
table, td {
	border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #F5F5F5}

th {
  background-color: #2699FB;
  background-color: #2699FB;
  color: black;
}

/* Contact formulier */
#messagebox {
	height: 200px;
}

/* Footer */
footer {
	background-color: #F5F5F5F5;
	clear: both;
}
